<footer>
    <div class="footer-left">
        <div>
            <a href="/trangchu"><img src="/img/logo/logo.png" alt="" class="footer-logo"></a>
        </div>
        <div>
            <p>371, Nguyễn Kiệm Gò Vấp TP HCM.</p>
            <p>Công Ty Cổ Phần Phát Hành Sách TP HCM - TIKITAKA.</p>
            <p>187 Hoàng Văn Thụ, Phường 8, Phú Nhuận, TP. HCM, Việt Nam.</p>
        </div>
        <div>
            <p>
                TIKITAKA.com nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt mua và nhận hàng trực
                tiếp tại văn phòng cũng như tất cả Hệ Thống TIKITAKA trên toàn quốc.
            </p>
        </div>
        <div>
            <a href=""><img src="/img/logo-bo-cong-thuong-da-thong-bao1.png" alt=""
                    style="width: 150px; margin: 10px 0"></a>
        </div>
        <div class="social-group">
            <div class="social-item">
                <a href=""><i class="fa-brands fa-facebook" style="color: #3b5998;"></i></a>
            </div>
            <div class="social-item">
                <a href=""><i class="fa-brands fa-square-instagram" style="color: #dd2a7b"></i></a>
            </div>
            <div class="social-item">
                <a href=""><i class="fa-brands fa-youtube" style="color: #ff0000"></i></a>
            </div>
            <div class="social-item">
                <a href=""><i class="fa-brands fa-tumblr" style="color: #36356d"></i></a>
            </div>
            <div class="social-item">
                <a href=""><i class="fa-brands fa-twitter" style="color: #08a0e9"></i></a>
            </div>
            <div class="social-item">
                <a href=""><i class="fa-brands fa-pinterest" style="color: #bd081c"></i></a>
            </div>
        </div>
        <div class="download-app">
            <a>
                <img src="/img/android1.png" alt="">
            </a>
            <a href="">
                <img src="/img/appstore1.png" alt="">
            </a>
        </div>
    </div>
    <div class="footer-right">
        <div class="footer-info">
            <div class="footer-info-container">
                <div class="footer-info-item">
                    <h2>DỊCH VỤ</h2>
                    <ul>
                        <li><a href="">Điều khoản sử dụng</a></li>
                        <li><a href="">Chính sách bảo mật thông tin cá nhân</a></li>
                        <li><a href="">Chính sách bảo mật thanh toán</a></li>
                        <li><a href="">Giới thiệu Fahasa</a></li>
                        <li><a href="">Hệ thống trung tâm - nhà sách</a></li>
                    </ul>
                </div>
                <div class="footer-info-item">
                    <h2>HỖ TRỢ</h2>
                    <ul>
                        <li><a href="">Chính sách đổi - trả - hoàn tiền</a></li>
                        <li><a href="">Chính sách bảo hành - bồi hoàn</a></li>
                        <li><a href="">Chính sách vận chuyển</a></li>
                        <li><a href="">Chính sách khách sỉ</a></li>
                        <li><a href="">Phương thức thanh toán và xuất HĐ</a></li>
                    </ul>
                </div>
                <div class="footer-info-item">
                    <h2>TÀI KHOẢN CỦA TÔI</h2>
                    <ul>
                        <li><a href="/dangnhap">Đăng nhập/Tạo mới tài khoản</a></li>
                        <li><a href="/taikhoan/thongtin">Thay đổi địa chỉ khách hàng</a></li>
                        <li><a href="/taikhoan/thongtin">Chi tiết tài khoản</a></li>
                        <li><a href="/taikhoan/donhang">Lịch sử mua hàng</a></li>
                    </ul>
                </div>
                <div class="footer-info-item">
                    <h2>LIÊN HỆ</h2>
                    <ul>
                        <li><a href=""><i class="fa-solid fa-location-dot"></i> 371 Nguyễn Kiệm, P.3, Q.Gò Vấp, TP.HCM</a></li>
                        <li><a href=""><i class="fa-solid fa-envelope"></i> cskh@nhom1.com.vn</a></li>
                        <li><a href=""><i class="fa-solid fa-phone"></i> 19003636</a></li>
                    </ul>
                </div>
                <div class="footer-info-item">
                    <ul>
                        <li><img src="/img/logo-momo.png" style="width: 150px; cursor: pointer;" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>