<ul>
    <li class="btn-close-sidebar" onclick="closeSidebar()"><i class="fa-solid fa-x"></i></li>
    <li><a href="#" class="sidebar-link" onclick="goToAdminHome()"><i class="fa-solid fa-home"></i> Trang chủ Admin</a></li>
    <li><a href="/quantri/sanpham" class="sidebar-link" id="sidebarProduct"><i
        class="fa-brands fa-shopify"></i> Quản lý sản phẩm</a></li>
    <li><a href="/quantri/donhang" class="sidebar-link" id="sidebarOrder"><i
        class="fa-solid fa-box"></i>Quản lý đơn hàng</a></li>
    <li><a href="/quantri/taikhoan" class="sidebar-link" id="sidebarAccount"><i
        class="fa-solid fa-users"></i> Quản lý tài khoản</a></li>
</ul>