@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

button,
input {
    outline: none;
    border: none;
}

img {
    max-width: 100%
}

nav,
section,
header,
footer {
    display: block;
}

ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #F0F0F0;
}

:root {
    --main-color: #195851;
}

.clear-fix {
    content: "";
    display: table;
    clear: both;
}

.btn {
    background-color: #C92127;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.header {
    position: sticky;
    background-color: #333;
    color: #fff;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-icon {
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}

.logo {
    width: 50px;
}

.sidebar {
    top: 0;
    position: fixed;
    left: -250px;
    height: 100%;
    width: 250px;
    background-color: #333;
    transition: 0.5s;
}

.btn-close-sidebar {
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.sidebar i {
    margin-right: 10px;
}

.sidebar .sidebar-link.active {
    color: #C92127;
}

.sidebar-header {
    padding: 15px;
}

.btn-close {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.sidebar ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.sidebar ul li {
    padding: 20px 0;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
}

.search-input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
    width: 100%;
}

.search-container i {
    position: absolute;
    color: #000;
    right: 21px;
    cursor: pointer;
}

.content {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.5s;
}


/* quan ly san pham */

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-m-product,
.container-m-order,
.container-m-account {
    max-width: 1200px;
}

.container-m-account h1 {
    margin-bottom: 10px;
}

.add-product-btn {
    margin: 20px 0;
    background-color: #45a049;
    float: right;
}

.product-card,
.order-card,
.account-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    display: flex;
}

.account-card {
    align-items: center;
}

.product-image,
.order-image,
.account-image {
    flex: 0 0 85px;
    margin-right: 20px;
}

.account-image img {
    border-radius: 50%;
}

.product-image img,
.order-image img {
    width: 100%;
    height: auto;
}

.product-details,
.order-details,
.account-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-details h3,
.order-details h3,
.account-details h3 {
    margin-top: 0;
}

.product-actions,
.order-actions,
.account-actions {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    justify-content: flex-end;
}

.btn-edit-product,
.btn-view-product,
.btn-view-order {
    background-color: #45a049;
}

#productDetailModal,
#orderDetailModal,
#accountDetailModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    padding: 10px;
    position: absolute;
    top: 7px;
    right: 17px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#productDetailContent {
    display: flex;
}

.productDetailContent_product-image {
    flex: 0 0 20%;
    margin-right: 20px;
}

.productDetailContent_product-image img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.productDetailContent_product-details {
    flex: 1;
}

.productDetailContent_product-details div {
    margin-bottom: 10px;
}

.productDetailContent_product-actions {
    margin-top: 20px;
}

.productDetailContent_btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.productDetailContent_btn:not(:last-child) {
    margin-right: 10px;
}

.productDetailContent_btn:hover {
    background-color: #45a049;
}

.productDetailContent_product-desc p {
    line-height: 1.5;

}

.detail-label {
    font-weight: bold;
}

.container-edit,
.container-add {
    max-width: 650px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-edit h2,
.container-add h2 {
    margin-bottom: 10px;
}


.form-container {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.button {
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.save-button,
.add-button {
    background-color: #4caf50;
    color: #fff;
}

.cancel-button {
    background-color: #C92127;
    color: #fff;
}

/* order */
.container-m-order h1 {
    margin-bottom: 10px;
}

.order-state {
    color: #C92127;
    font-weight: bold;
}

#orderDetailContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-status,
.order-info,
.customer-info,
.contact-info {
    margin-top: 20px;
    margin-bottom: 10px;
}

.order-status {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
}

.order-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.order-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-details p {
    margin: 5px 0;
}

.order-info,
.customer-info,
.contact-info {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
}

.status-text {
    color: #C92127;
    font-weight: bold;
}

.btn-update-status {
    background-color: #45a049;
}

.contact-info {
    margin-top: 20px;
}

.order-info table,
.customer-info table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.order-info th,
.order-info td,
.customer-info th,
.customer-info td {
    border: 1px solid #ddd;
    padding: 8px;
}

.order-info th,
.customer-info th {
    background-color: #f2f2f2;
}

.customer-info th,
.order-info tr {
    text-align: left;
}

.right-info {
    text-align: center;
}

#updateStatusModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.updateStatus-modal-content {
    position: relative;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.updateStatus-modal-content h2 {
    margin-bottom: 10px;
}

.btn-save {
    background-color: #45a049;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #555;
    pointer-events: none;
}

select option {
    background-color: #fff;
    color: #333;
}

select:active,
select:focus {
    appearance: none;
    background-color: #fff;
}

/* tai khoan */

.account-details table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.account-details td {
    padding: 8px;
    border: 1px solid #ddd;
}

.account-details .account-actions {
    text-align: right;
}

.account-actions {
    align-items: center;
    justify-content: flex-end;
}

.btn-edit-account,
.btn-view-account {
    background-color: #45a049;
}

#accountDetailContent table {
    width: 100%;
}

#accountDetailContent table img.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#accountDetailContent table td {
    padding: 8px;
}

.account-details p {
    margin: 0;
}

.account-actions {
    text-align: right;
}

.account-save-button {
    background-color: #45a049;
}

.welcome-message {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.admin-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.admin-avatar img {
    width: 100%;
    height: auto;
}

.logout-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.productDetailContent_product-container {
    display: flex;
}

.container-product-card {
    width: 100%;
}

.image-preview {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}