<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" href="/img/logo/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="/js/ApiRequest.js"></script>
    <script src="/js/validate.js"></script>
    <script src="/js/product.js"></script>
    <title>Nhà sách trực tuyến TikiTaka- Admin</title>
</head>

<body>
    <div class="header">
        <nav class="nav">
            <div class="menu-icon" onclick="toggleSidebar()">
                <i class="toggle-icon fa-solid fa-bars" id="toggleIcon"></i>
            </div>
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Tìm kiếm ...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <a href="/trangchu"><img src="/img/logo/logo.png" alt="" class="logo"></a>
        </nav>
    </div>
    <div class="sidebar" id="sidebar">
        <ul>
            <li class="btn-close-sidebar" onclick="closeSidebar()">
                <i class="fa-solid fa-x"></i>
            </li>
            <li>
                <a href="#" class="sidebar-link" onclick="goToAdminHome()">
                    <i class="fa-solid fa-home"></i>
                    Trang chủ Admin
                </a>
            </li>
            <li>
                <a href="/quantri/sanpham" class="sidebar-link" id="sidebarProduct">
                    <i class="fa-brands fa-shopify"></i>
                    Quản lý sản phẩm
                </a>
            </li>
            <li>
                <a href="/quantri/donhang" class="sidebar-link" id="sidebarOrder">
                    <i class="fa-solid fa-box"></i>
                    Quản lý đơn hàng
                </a>
            </li>
            <li>
                <a href="/quantri/taikhoan" class="sidebar-link" id="sidebarAccount">
                    <i class="fa-solid fa-users"></i>
                    Quản lý tài khoản
                </a>
            </li>
        </ul>
    </div>
    <a href="/quantri/sanpham" class="">
        <button class="back-to-orders" style="margin-top: 10px; margin-left: 10px;">Quay lại danh sách sản phẩm</button>
    </a>

    <div class="container container-m-product" id="content">
        <div class="productDetailContent_product-container">
        </div>
    </div>
</body>

<script src="/js/format.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", async function () {
        const urlParts = window.location.pathname.split('/');
        const bookID = urlParts[urlParts.length - 1];

        if (bookID) {
            const response = await apiRequest("GET", `/book/${bookID}`);
            const bookData = response.data;
            displayBookDetails(bookData);
        }
    });

    function displayBookDetails(book) {
        const productWrapper = document.getElementById("content");
        const productDetail = document.createElement("div");
        productDetail.className = "productDetailContent_product-container";
        productDetail.innerHTML =
            `<div class="productDetailContent_product-image">
                    <img src="${book.bookImage}" alt="Product 1">
                </div>
                <div class="productDetailContent_product-details">
                    <div>
                        <span style="font-weight: bold;">Mã sản phẩm: </span>
                        <span class="productDetailContent_product-code">${book.bookID}</span>
                    </div>
                    <div>
                        <span style="font-weight: bold;">Tên sản phẩm: </span>
                        <span class="productDetailContent_product-name">${book.bookName}</span>
                    </div>
                    <div>
                        <span style="font-weight: bold;">Giá: </span>
                        <span class="productDetailContent_product-price">${formatNumber(book.bookPrice)} đ</span>
                    </div>
                    <div class="productDetailContent_product-info">
                        <div class="productDetailContent_product-desc">
                            <div>
                                <span class="detail-label author">Tác giả: </span>
                                <span>${book.bookAuthor}</span>
                            </div>
                            <div>
                                <span class="detail-label supplier">Nhà xuất bản: </span>
                                <span>${book.bookPublisher}</span>
                            </div>
                            <div>
                                <span class="detail-label weight">Trọng lượng: </span>
                                <span>${book.bookWeight} gr</span>
                            </div>
                            <div>
                                <span class="detail-label size">Kích thước: </span>
                                <span>${book.bookSize} cm</span>
                            </div>
                            <div>
                                <span class="detail-label size">Số sách tồn kho: </span>
                                <span>${book.bookStock}</span>
                            </div>
                            <div>
                                <span class="detail-label size">Số sách đã bán: </span>
                                <span>${book.bookSold}</span>
                            </div>
                            <div>
                                <span class="detail-label introduce">Giới thiệu:</span>
                                <span>${book.bookIntroduction}</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-actions" style="justify-content: flex-start;">
                        <a href="/quantri/sanpham/chinhsua/${book.bookID}">
                            <button class="btn btn-edit-product" onclick="">Chỉnh sửa thông tin</button>
                        </a>
                        <button class="btn btn-delete-product" id="btn-delete-product" onclick="deleteProduct()">Xóa</button>
                    </div>
                </div>`;

        productWrapper.appendChild(productDetail);
    };


    async function deleteProduct() {
        const urlParts = window.location.pathname.split('/');
        const bookID = urlParts[urlParts.length - 1];

        if (confirm(`Bạn muốn xóa sản phẩm ${bookID}?`) == true) {
            const response = await apiRequest("DELETE", `/book/${bookID}`);
            if (response.success) {
                alert(`Xóa sản phẩm ${bookID} thành công`);
                window.location.href = "/quantri/sanpham";
            } else if (response === "500") {
                alert("Server hiện đang gặp lỗi, vui lòng thử lại sau");
            }
        }
    }
</script>
<script src="/js/admin.js"></script>
<script>
    var sidebar = document.getElementById("sidebarProduct");
    sidebar.classList.add('active');
</script>

</html>