<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" href="/img/logo/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script type="module" src="/js/validate.js"></script>
    <script src="/js/sidebar.js"></script>

    <title>Nhà sách trực tuyến TikiTaka- Admin</title>
</head>

<body>
    <div class="header">
        <nav class="nav">
            <div class="menu-icon" onclick="toggleSidebar()">
                <i class="toggle-icon fa-solid fa-bars" id="toggleIcon"></i>
            </div>
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Tìm kiếm ...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <a href="/trangchu"><img src="/img/logo/logo.png" alt="" class="logo"></a>
        </nav>
    </div>
    <div class="sidebar" id="sidebar">
        <ul>
            <li class="btn-close-sidebar" onclick="closeSidebar()">
                <i class="fa-solid fa-x"></i>
            </li>
            <li>
                <a href="#" class="sidebar-link" onclick="goToAdminHome()">
                    <i class="fa-solid fa-home"></i>
                    Trang chủ Admin
                </a>
            </li>
            <li>
                <a href="/quantri/sanpham" class="sidebar-link" id="sidebarProduct">
                    <i class="fa-brands fa-shopify"></i>
                    Quản lý sản phẩm
                </a>
            </li>
            <li>
                <a href="/quantri/donhang" class="sidebar-link" id="sidebarOrder">
                    <i class="fa-solid fa-box"></i>
                    Quản lý đơn hàng
                </a>
            </li>
            <li>
                <a href="/quantri/taikhoan" class="sidebar-link" id="sidebarAccount">
                    <i class="fa-solid fa-users"></i>
                    Quản lý tài khoản
                </a>
            </li>
        </ul>
    </div>

    <div class="container-add">
        <h2>Thêm sản phẩm</h2>
        <form action="/quantri/sanpham/them" class="form-container" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="add_image">Hình Ảnh:</label>
                <input type="file" name="image" id="image" class="add_image" accept="image/*" required
                    onchange="validateImageFile()">
                <div id="error-message"></div>
            </div>
            <div class="form-group">
                <label for="add_name">Tên:</label>
                <input type="text" name="name" id="name" class="add_name" value="" required>
            </div>
            <div class="form-group">
                <label for="add_price">Giá (vnđ):</label>
                <input type="text" name="price" id="price" class="add_price" value="" required
                    oninput="formatNumber(this)">
            </div>
            <div class="form-group">
                <label for="add_author">Tác Giả:</label>
                <input type="text" name="author" id="author" class="add_author" value="">
            </div>
            <div class="form-group">
                <label for="add_publisher">Nhà xuất bản:</label>
                <input type="text" name="publisher" id="publisher" class="add_publisher" value="">
            </div>
            <div class="form-group">
                <label for="add_weight">Trọng Lượng (kg):</label>
                <input type="number" name="weight" id="weight" class="add_weight" value="">
            </div>
            <div class="form-group">
                <label for="add_size">Kích Thước:</label>
                <input type="text" name="size" id="size" class="add_size" value="">
            </div>
            <div class="form-group">
                <label for="add_size">Số tồn kho:</label>
                <input type="number" name="stock" id="stock" class="add_size" value="" required>
            </div>
            <div class="form-group">
                <label for="add_size">Giới thiệu:</label>
                <input type="text" name="introduction" id="introduction" class="add_size" value="">
            </div>
            <div class="button-container">
                <button class="button add-button" type="button" onclick="addBook()">Thêm</button>
                <button class="button cancel-button" id="cancel-button">Hủy</button>
            </div>
        </form>
    </div>
</body>

<script src="/js/manageProduct.js"></script>
<script>
    async function addBook() {
        const bookImage = document.getElementById("image").value;
        const bookName = document.getElementById("name").value;

        const bookPriceString = document.getElementById("price").value;
        const bookPrice = bookPriceString.replace(" ", "");

        const bookAuthor = document.getElementById("author").value;
        const bookPublisher = document.getElementById("publisher").value;
        const bookWeight = document.getElementById("weight").value;
        const bookSize = document.getElementById("size").value;
        const bookStock = document.getElementById("stock").value;
        const bookIntroduction = document.getElementById("introduction").value;

        const book = {
            bookName: bookName,
            bookPrice: bookPrice,
            bookAuthor: bookAuthor,
            bookPublisher: bookPublisher,
            bookWeight: bookWeight,
            bookSize: bookSize,
            bookStock: bookStock,
            bookIntroduction: bookIntroduction,
        };

        const response = await apiRequest('POST', '/book/', book);

        if (response.success) {
            window.location.href = "/quantri/sanpham";
        } else if (response === "500") {
            alert("Server hiện đang gặp lỗi, vui lòng thử lại sau");
        }
    }
</script>
<script src="/js/sidebar.js"></script>
<script>
    document.getElementById("cancel-button").addEventListener("click", () => {
        history.back();
    })

    var sidebar = document.getElementById("sidebarProduct");
    sidebar.classList.add('active');

    function formatNumber(input) {
        let inputValue = input.value;

        // Loại bỏ tất cả các ký tự không phải số
        inputValue = inputValue.replace(/[^0-9]/g, '');

        // Thêm dấu cách hàng triệu
        if (inputValue.length > 3) {
            inputValue = inputValue.replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
        }

        input.value = inputValue;
    }
</script>

</html>