<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="img/logo/logo.png">
    <title>Đăng nhập</title>
    <script src="/js/ApiRequest.js"></script>
</head>

<body>
    <div class="form-container-wrapper">
        <div class="form-container" id="login-form">
            <div>
                <a href="/trangchu" style="color: #000; text-decoration: underline;">
                    <i class="fa-solid fa-angle-left"></i>
                    Trở về trang chủ</a>
            </div>
            <h2>Đăng nhập</h2>
            <form action="" method="post">
                <label for="login-username">Tên đăng nhập*:</label>
                <input type="text" id="login-username" name="login-username" required placeholder="Tên đăng nhập">

                <label for="login-password">Mật khẩu*:</label>
                <input type="password" id="login-password" name="login-password" required placeholder="Mật khẩu">

                <button type="button" onclick="login()">Đăng nhập</button>
                <p>Thành viên mới?<a href="/dangky"> Đăng kí tại đây</a></p>
            </form>
        </div>
    </div>

    <script>
        async function login() {
            const userID = document.getElementById("login-username").value;
            const userPassword = document.getElementById("login-password").value;

            const account = {
                userID: userID,
                userPassword: userPassword
            };

            const response = await apiRequest('POST', '/account/login', account);
            console.log(response)
            if (response.success) {
                window.location.href = `/trangchu`;
            } else if (response === "404") {
                alert(`Tài khoản ${userID} không tồn tại`);
            } else if (response === "401") {
                alert("Tên đăng nhập hoặc mật khẩu không chỉnh xác");
            } else if (response === "500") {
                alert("Server hiện đang gặp lỗi, vui lòng thử lại sau");
            }
        }
    </script>
</body>

</html>