<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/logo/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script type="module" src="/js/main.js"></script>
    <script src="/js/cart.js"></script>
    <title>Nhà sách trực tuyến TikiTaka- TikiTaka.com</title>
</head>

<body>
    <header class="header">
        <nav class="container navbar">
            <div class="logo-container">
                <a href="/trangchu"><img src="/img/logo/logo.png" alt="" class="logo"></a>
            </div>
            <div class="box-search">
                <input type="text" placeholder="Tìm kiếm">
                <span><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
            <div class="user-cart-container">
                <div class="cart-item">
                    <a href="/giohang" style="color: #7A7E7F">
                        <div>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        <div>
                            <a href="/giohang" style="color: #7A7E7F;">Giỏ hàng</a>
                        </div>
                    </a>
                </div>
                <div class="user-item">
                    <div class="account" id="accountSection" style="display: none;">
                        <div>
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div>
                            <span>Tài khoản</span>
                        </div>
                        <div class="account-options">
                            <a href="/taikhoan/thongtin"><button id="btnAccountInfo" class="btn">Thông tin tài
                                    khoản</button></a>
                            <a href="/dangxuat"><button id="btnLogout" class="btn">Đăng xuất</button></a>
                        </div>
                    </div>
                    <div class="admin" id="adminSection" style="display: none;">
                        <div>
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div>
                            <span>Quản trị</span>
                        </div>
                        <div class="admin-options">
                            <a href="/quantri"><button id="btnAdminManage" class="btn">Quản lý</button></a>
                            <a href="/dangxuat"><button id="btnLogoutAdmin" class="btn">Đăng xuất</button></a>
                        </div>
                    </div>
                    <div class="user-options" id="userOptionsSection" style="display: block;">
                        <div class="login-register">
                            <a href="/dangnhap" class="btn-director-login">Đăng nhập</a>
                            <a href="/dangky" class="btn-director-register">Đăng ký</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container gallery-container">
        <div class="director">
            <a href="/" style="color: #C92127">Trang chủ</a>
            <i class="fa-solid fa-angle-right"></i>
            <a href="/danhsach" style="color: #C92127;">Danh sách sản phẩm</a>
            <i class="fa-solid fa-angle-right"></i>
            <a href="" style="color: #000;"></a>
        </div>
        <div class="product-essential-container">
            <div class="product-essential">
                <div class="product-essential-media">
                    <div class="product-view-image">
                        <div class="product-view-thumbnail">
                            <div id="lightgallery-product-media" class="lightgallery">
                                <a href="" id="lightgallery-item">
                                    <img alt="" id="productImgSmall">
                                </a>
                            </div>
                            <div class="product-view-image-product">
                                <img alt="" id="productImgThumb">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <h1 id="productName"></h1>
                    <div>
                        <p class="product-info-supplier">
                            Nhà xuất bản: <span></span>
                        </p>
                        <p class="product-info-author">Tác giả: <span></span></p>
                    </div>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <span>Đánh Giá: 4/5</span>
                    </div>
                    <div class="product-info-price" id="productPrice"></div>
                    <div class="product-info-quantity">
                        <button class="product-info-btn-quantity product-info-btn-minus" id="btn-minus-quantity"><i
                                class="fa-solid fa-minus"></i></button>
                        <input class="product-info-quantity-input" type="number" value="1" min="1" id="quantityInput">
                        <button class="product-info-btn-quantity product-info-btn-plus" id="btn-plus-quantity"><i
                                class="fa-solid fa-plus"></i></button>
                    </div>
                    <div class="product_view_add_box">
                        <button class="add-to-cart" id="add-to-cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Thêm vào giỏ hàng</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="product_view_content">
            <div class="product-info-container">
                <h2>Thông tin sản phẩm</h2>
                <table class="product-info-table">
                    <tr>
                        <td>Mã hàng</td>
                        <td id="productID"></td>
                    </tr>
                    <tr>
                        <td>Tên Nhà Cung Cấp</td>
                        <td id="product-info-supplier-td"></td>
                    </tr>
                    <tr>
                        <td>Tác giả</td>
                        <td id="product-info-author-td"></td>
                    </tr>
                    <tr>
                        <td>Trọng lượng (gr)</td>
                        <td id="product-info-weight-td"></td>
                    </tr>
                    <tr>
                        <td>Kích Thước Bao Bì</td>
                        <td id="product-info-size-td"></td>
                    </tr>
                    <tr>
                        <td>Giới thiệu</td>
                        <td id="product-info-introduce-td"></td>
                    </tr>
                </table>

                <p class="product-info-note">Giá sản phẩm trên TikiTaka.com đã bao gồm thuế theo luật hiện hành. Bên
                    cạnh
                    đó, tuỳ vào loại sản phẩm, hình thức và địa chỉ giao hàng mà có thể phát sinh thêm chi phí khác như
                    phụ phí đóng gói, phí vận chuyển, phụ phí hàng cồng kềnh,...</p>
                <p class="product-info-note">Chính sách khuyến mãi trên TikiTaka.com không áp dụng cho Hệ thống Nhà sách
                    TikiTaka trên toàn quốc</p>
            </div>

        </div>
    </div>

    <footer class="container footer-container">
        <div class="footer-left">
            <div>
                <a href="/trangchu"><img src="/img/logo/logo.png" alt="" class="footer-logo"></a>
            </div>
            <div>
                <p>371, Nguyễn Kiệm Gò Vấp TP HCM.</p>
                <p>Công Ty Cổ Phần Phát Hành Sách TP HCM - TIKITAKA.</p>
                <p>187 Hoàng Văn Thụ, Phường 8, Phú Nhuận, TP. HCM, Việt Nam.</p>
            </div>
            <div>
                <p>
                    TIKITAKA.com nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt mua và nhận hàng trực
                    tiếp tại văn phòng cũng như tất cả Hệ Thống TIKITAKA trên toàn quốc.
                </p>
            </div>
            <div>
                <a href=""><img src="/img/logo-bo-cong-thuong-da-thong-bao1.png" alt=""
                        style="width: 150px; margin: 10px 0"></a>
            </div>
            <div class="social-group">
                <div class="social-item">
                    <a href=""><i class="fa-brands fa-facebook" style="color: #3b5998;"></i></a>
                </div>
                <div class="social-item">
                    <a href=""><i class="fa-brands fa-square-instagram" style="color: #dd2a7b"></i></a>
                </div>
                <div class="social-item">
                    <a href=""><i class="fa-brands fa-youtube" style="color: #ff0000"></i></a>
                </div>
                <div class="social-item">
                    <a href=""><i class="fa-brands fa-tumblr" style="color: #36356d"></i></a>
                </div>
                <div class="social-item">
                    <a href=""><i class="fa-brands fa-twitter" style="color: #08a0e9"></i></a>
                </div>
                <div class="social-item">
                    <a href=""><i class="fa-brands fa-pinterest" style="color: #bd081c"></i></a>
                </div>
            </div>
            <div class="download-app">
                <a>
                    <img src="/img/android1.png" alt="">
                </a>
                <a href="">
                    <img src="/img/appstore1.png" alt="">
                </a>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-info">
                <div class="footer-info-container">
                    <div class="footer-info-item">
                        <h2>DỊCH VỤ</h2>
                        <ul>
                            <li><a href="/">Điều khoản sử dụng</a></li>
                            <li><a href="/">Chính sách bảo mật thông tin cá nhân</a></li>
                            <li><a href="/">Chính sách bảo mật thanh toán</a></li>
                            <li><a href="/">Giới thiệu Fahasa</a></li>
                            <li><a href="/">Hệ thống trung tâm - nhà sách</a></li>
                        </ul>
                    </div>
                    <div class="footer-info-item">
                        <h2>HỖ TRỢ</h2>
                        <ul>
                            <li><a href="/">Chính sách đổi - trả - hoàn tiền</a></li>
                            <li><a href="/">Chính sách bảo hành - bồi hoàn</a></li>
                            <li><a href="/">Chính sách vận chuyển</a></li>
                            <li><a href="/">Chính sách khách sỉ</a></li>
                            <li><a href="/">Phương thức thanh toán và xuất HĐ</a></li>
                        </ul>
                    </div>
                    <div class="footer-info-item">
                        <h2>TÀI KHOẢN CỦA TÔI</h2>
                        <ul>
                            <li><a href="/dangnhap">Đăng nhập/Tạo mới tài khoản</a></li>
                            <li><a href="/taikhoan/thongtin">Thay đổi địa chỉ khách hàng</a></li>
                            <li><a href="/taikhoan/thongtin">Chi tiết tài khoản</a></li>
                            <li><a href="/taikhoan/donhang">Lịch sử mua hàng</a></li>
                        </ul>
                    </div>
                    <div class="footer-info-item">
                        <h2>LIÊN HỆ</h2>
                        <ul>
                            <li><a href="/"><i class="fa-solid fa-location-dot"></i> 371 Nguyễn Kiệm, P.3, Q.Gò Vấp,
                                    TP.HCM</a></li>
                            <li><a href="/"><i class="fa-solid fa-envelope"></i> cskh@nhom1.com.vn</a></li>
                            <li><a href="/"><i class="fa-solid fa-phone"></i> 19003636</a></li>
                        </ul>
                    </div>
                    <div class="footer-info-item">
                        <ul>
                            <li><img src="/img/logo-momo.png" style="width: 150px; cursor: pointer;" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

<script type="module" src="/js/ProductDetails.js"></script>

</html>