<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/logo/logo.png">
    <title>Đăng ký</title>
    <script src='/js/ApiRequest.js'></script>
</head>


<body>
    <div class="form-container-wrapper">
        <div class="form-container" id="register-form">
            <h2>Đăng kí</h2>
            <form action="" method="post">
                <label for="register-username">Tên đăng nhập*:</label>
                <input type="text" id="register-username" name="register-username" required
                    placeholder="Nhập tên đăng nhập của bạn">

                <label for="register-password">Mật khẩu*:</label>
                <input type="password" id="register-password" name="register-password" required
                    placeholder="Tối thiểu 8 ký tự với số, chữ cái và ký tự.">

                <label for="confirm-password">Nhập lại mật khẩu*:</label>
                <input type="password" id="confirm-password" name="confirm-password" required
                    placeholder="Nhập lại mật khẩu.">

                <button type="button" onclick="register()">Đăng kí</button>
                <p>Đã có tài khoản?<a href="/dangnhap"> Đăng nhập tại đây</a></p>
            </form>
        </div>
    </div>

    <script>
        async function register() {
            const userID = document.getElementById("register-username").value;
            const userPassword = document.getElementById("register-password").value;
            const userConfirmPassword = document.getElementById("confirm-password").value;

            if(userPassword !== userConfirmPassword) {
                alert("Vui lòng xác nhận lại mật khẩu");
                return;
            }

            const account = {
                userID: userID,
                userPassword: userPassword
            };

            const response = await apiRequest('POST', '/account/register', account);

            if (response.success) {
                window.location.href = "/trangchu";
            } else if (response === "400") {
                alert(`Tài khoản ${userID} đã tồn tại`);
            } else if (response === "500") {
                alert("Server hiện đang gặp lỗi, vui lòng thử lại sau");
            }
        }
    </script>
</body>

</html>