<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/logo/logo.png">
    <title>Đăng ký</title>
</head>

<script src='/js/main.js'></script>

<body>
    <div class="form-container-wrapper">
        <div class="form-container" id="register-form">
            <h2>Đăng kí</h2>
            <form action="" method="post">
                <label style="color: red;" th:text="${thongbao}"></label>
                <label for="register-email">Email*:</label>
                <input type="email" id="register-email" name="register-email" required placeholder="Nhập email của bạn">

                <label for="register-username">Tên đăng nhập*:</label>
                <input type="text" id="register-username" name="register-username" required
                    placeholder="Nhập tên đăng nhập của bạn">

                <label for="register-password">Mật khẩu*:</label>
                <input type="password" id="register-password" name="register-password" required
                    placeholder="Tối thiểu 8 ký tự với số, chữ cái và ký tự.">

                <label for="confirm-password">Nhập lại mật khẩu*:</label>
                <input type="password" id="confirm-password" name="confirm-password" required
                    placeholder="Nhập lại mật khẩu.">

                <button type="submit">Đăng kí</button>
                <p>Đã có tài khoản?<a href="/dangnhap"> Đăng nhập tại đây</a></p>
            </form>
        </div>
    </div>
</body>

</html>